container_commands:
  01_collectstatic:
    command: "source /home/ec2-user/environment/CAFE_MANAGEMENT/bin/activate && python /home/ec2-user/environment/CAFE_MANAGEMENT/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cafe_mgmt.wsgi:application